.act{
    background: #282c34;
}
/* Import */
.items, .items2{
    margin: 0 auto;
    max-width: 1140px;
}
.items2{
    padding-top:50px;
}
.items a, .items2 a{
    display:inline-block;
    text-decoration:none;
    color:white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight:40;
    margin:10px 20px;
    height: 30px;
    overflow: hidden;
}
.items a span{
    display: inline-block;
    position:relative;
    transition: transform 500ms;
    -webkit-transition: -webkit-transform 500ms;
    -moz-transition: transform 500ms;

}
.items a span:after{
    color: rgba(217, 0, 0, 0.87);
    content: attr(data-hover);
    position: absolute;
    top: -30px;
    left:0;
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.items a:hover span,
.items a:focus span {
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
}

/* x3 */
.items2 a span{
    display: inline-block;
    position:relative;
    transition: transform 600ms;
    -webkit-transition: -webkit-transform 600ms;
}
.items2 a span:before{
    content: attr(data-hover);
    position: absolute;
    top: -60px;
    left:0;
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.items2 a span:after{
    content: attr(data-hover);
    position: absolute;
    top: -30px;
    left:0;
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.items2 a:hover span,
.items2 a:focus span {
    transform: translateY(60px);
    -webkit-transform: translateY(60px);
    -moz-transform: translateY(60px);
}